body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  /*color: #777;*/
  color:rgb(11, 4, 112);
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.titulo{
  width: 100%;
  border-bottom: 1px solid #bab8a9;
  margin-bottom: 20px
}
.titulo h2{
  color: #163978;
  font-weight: normal;
  width: 50%;
  padding-left: 5px;
  margin-bottom: -1px;
  border-bottom: 3px solid #163978;
  text-align:left;

}
 .texto {
    font-size: 15px;
    text-align: justify;
}
 .texto,  .textopequeno {
    color: #333333;
    text-align: justify;
}
 .texto {
    margin-bottom: 15px;
    text-align: justify;
}

.container_footer
  {
    width:100%;-webkit-box-shadow: inset 0 90px 200px rgba(0,0,0,.4);padding:0px;
  }
  .container_footer .footer
  {
    background:#636363;
    color:#bab8a9;
    width:100%;
    border:0px;
    padding:20px;
    margin-top:0px;
  }
  .container_footer .footer .titulo h2
  {
    color:#bab8a9;
    border-bottom: 3px solid #bab8a9 !important;
  }
  .container_footer .footer .titulo
  {
    border-bottom: 1px solid #163978;
  }
  /*.container_footer .footer ul
  {
    list-style: none;
    margin: 0;
    padding:0;
    text-align: left;
  }
  .container_footer .footer ul a
  {
    color:#bab8a9;
  }
  .container_footer .footer ul a:hover
  {
    text-decoration: underline;
  }
  .container_footer .footer ul li
  {
    border-color: #505152;
    border-bottom:1px solid;
    padding: 10px 0 10px 0;
  }*/

  .publicacoes
  {
    list-style: none;
    margin: 0;
    padding:0;
    text-align: left;
  }
  .publicacoes a
  {
    color:#333;;
  }
  .publicacoes a:hover
  {
    text-decoration: underline;
  }
  .publicacoes li
  {
    border-color: #333;
    border-bottom:1px dashed;
    padding: 10px 0 10px 0;
  }

  @media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: 0px !important;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.container_footer
{
  background:#282F68 !important;
  
}
.container_footer a
{
  color:#DBDBDB ;
  font-size:12px;
}

.container_footer a:hover
{
  color:#1A1F44 ;
}

.navbar-nav > li > a {
    text-align: center;
}
